html body{
    height: 100%;
    width: 100%;
}

.container-center{
    display: flex;
    width: 100%;
    margin: 15px;
    justify-content: space-evenly;
    flex-direction:column;
    align-items:center;
    align-content:space-around;
}
.signup-login{
    width: 50%;
    height: 100%;
}

.primaryColor{
    background-color: rgb(211, 69, 140) !important;
}
.primaryHighligthColor{
    background-color: rgb(211, 69, 140) !important;
}
.primaryHighligthBorderColor{
    border-color: rgb(211, 69, 140) !important;
}
.primarySoftColor{
    background-color: rgb(206, 118, 162);
}

.errorBorder{
    border: 1px solid;
    color: #a72828 !important;
    border-radius: 5px;
    width: auto;
}

.errorMessagge{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #a72828;
    margin-bottom: 1rem;
    width: auto;
}


.circle{
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
    overflow: hidden;
}

.circle img{    
    border-radius: 50%;
}

.flex-row-around{
    display: flex;
    width: 100%;
    margin: 15px;
    justify-content: space-around;
    flex-direction:row;
    align-items:flex-start;
}

.flex-row-evenly{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction:row;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap
}

.chat-box{    
    min-height: 50vh;
    max-height: 50vh;
    border: darkgray solid 1px;
    border-radius: 15px;
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-box #chat-log{
    border-radius: 15px;
    height: auto;
    flex-grow: 2;
    overflow: hidden;
}

.send-messagge-box{
    display: flex;
    width: 100%;
    flex-grow: 0;
}

.send-messagge-box > *{
    border-radius: 15px;
}

.send-messagge-box #chat-message-input{
    flex-grow: 2;
}

.users-box{
    min-height: 50vh;
    width: 30%;
    border: darkgray solid 1px;
    height: 100%;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    padding: 5px;
}