{%extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-center ">
    <div class="card signup-login">
        <div class="card-body shadow-lg p-3 bg-white rounded">
        <h5 class="card-title">Create chatroom</h5>
    
        <form method="POST" action="">
            {% csrf_token %}
            {% for field in form_new_chatroom %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {% if field.errors %}
                <div class="errorBorder">
                    {{ field }}
                </div>
                <div class="errorMessagge">
                    {{field.errors}}
                </div>
                {%else%}
                {% if field.label != "Tags" %}
                {{ field }}
                {%else%}
                {{ field }}
                <div id="tagsContainer">

                </div>
                {%endif%}
                {%endif%}
            </div>
            {% endfor %}
            <input type="submit" value="Create chatroom" class="btn btn-primary btn-lg btn-block primaryHighligthColor primaryHighligthBorderColor">
               
            <script src="{% static 'index.js' %}"></script>
{% endblock %}
