
{%extends "base.html" %}
{% block content %}

<div class="container-center">
    
    <h3 class="display-3">Welcome to <span class="font-weight-bold">webChat!</span></h3>

    <div class="d-inline p-2 primaryHighligthColor text-white w-100 mb-1 text-center"><a class= "text-white" href="{% url 'chatRoom:roomsList'%}">Start chatting!</a></div>
    <div class="d-inline p-2 primaryHighligthColor text-white w-100 mb-1 text-center"><a class= "text-white" href="{% url 'catalog:signup'%}">Registrarse</a></div>
</div>

{% endblock %}