{%extends "base.html" %}
{% block content %}
<div class="container-center">
<div class="card signup-login">
    <div class="card-body">
    <h5 class="card-title">Iniciar sesión</h5>
        <form action="." method="POST">
            {% csrf_token %}
            {% for field in form_login %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <input type="submit" value="Iniciar sesión" class="btn btn-primary btn-lg btn-block primaryHighligthColor primaryHighligthBorderColor">
        </form>
        <div class="p-2 w-100 mb-1 text-center"><a href="/signup">You dont have an account?</a></div>
    </div>
</div>
</div>
{% endblock %}