{%extends "base.html" %}
{% block content %}
<div class="container-center">
    <div class="card signup-login">
        <div class="card-body shadow-lg p-3 bg-white rounded">
            <h3 class="card-title">{{user.user.username}}</h3>
            <div class="circle" >
                <img src="https://picsum.photos/2000" class="img-fluid" alt="Responsive image">
            </div>

            <br>
            <div class="form-group">
                <label type="email" class="text-black-50">Username</label>
                <br>
                <label type="password">{{user.user.username}}</label>
            </div>

            <div class="form-group">
                <label type="email" class="text-black-50">Email</label>
                <br>
                <label type="password">{{user.user.email}}</label>
            </div>

            <div class="form-group">
                <label type="email" class="text-black-50">Password</label>
                <br>
                <label type="password">**********</label>
            </div>

            
            <div class="form-group">
                <label type="email" class="text-black-50">Tags followed</label>
                <br>
                {% for tag in user.followed_tags.all %}                
                    <div class="badge badge-pill badge-primary p-0"> 
                        <a href="#" class="text-decoration-none text-white m-3"> {{tag.name}} </a>
                        <button class="h-100 w-wrap rounded-right rounded-lg bg-light btn-sm btn border border-primary">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</div>

{% endblock %}