{%extends "base.html" %}
{% block content %}
<div class="container-center">
    <div class="card signup-login">
        <div class="card-body shadow-lg p-3 bg-white rounded">
            <h5 class="card-title">Registro de usuario</h5>
            <form action="." method="POST">
                {% csrf_token %}
                {% for field in form_signup %}
                    {% if field.label == 'Captcha' %}
                        {% if field.errors %}
                        <div class="form-group container-center mb-0">
                            {{ field }}
                        </div>
                        <div>
                            <div class="errorMessagge">
                                {{field.errors}}
                              </div>
                        </div>
                        {%else%}
                        <div class="form-group container-center">
                            {{ field }}
                        </div>
                        {%endif%}
                    {%else%}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {% if field.errors %}
                            <div class="errorBorder">
                                {{ field }}
                            </div>
                            <div class="errorMessagge">
                                {{field.errors}}
                            </div>
                            {%else%}
                            {{ field }}
                            {%endif%}
                        </div>
                    {%endif%}
                {% endfor %}
                <input class="btn btn-primary btn-lg btn-block primaryHighligthColor primaryHighligthBorderColor"
                    type="submit" value="Sign Up">
            </form>
            <div class="p-2 w-100 mb-1 text-center"><a href="{%url 'catalog:login' %}">Already have an account?</a></div>
        </div>
    </div>
</div>

{% endblock %}