html body{
    height: 100%;
    width: 100%;
}

.container-center{
    display: flex;
    width: 100%;
    margin: 15px;
    justify-content: space-evenly;
    flex-direction:column;
    align-items:center;
    align-content:space-around;
}
.signup-login{
    width: 50%;
    height: 100%;
}

.primaryColor{
    background-color: rgb(211, 69, 140) !important;
}
.primaryHighligthColor{
    background-color: rgb(211, 69, 140) !important;
}
.primaryHighligthBorderColor{
    border-color: rgb(211, 69, 140) !important;
}

.circle{
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
    overflow: hidden;
}

.circle img{    
    border-radius: 50%;
}

.flex-row-around{
    display: flex;
    width: 100%;
    margin: 15px;
    justify-content: space-around;
    flex-direction:row;
    align-items:center;
}

.flex-row-evenly{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction:row;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap
}