<div class="bg-light p-2 chat-bubble m-2 d-inline-block" style="max-width: 45%;">
    <a href="#" class="text-decoration-none text-secondary">__user__</a>
    <a id="imageMessageLink" target="_blank"><img alt="" style="max-width: 200px; max-height: 200px; margin: 1px auto; display: block; margin-bottom: 10px;" id="imageMessage"></a>
    <p class="text-break bg-white p-2 chat-message m-0" id="chat-message">__messagge__</p>
    <a class="text-decoration-none text-secondary" id="fileLinkMessage" target="_blank" style="margin: 3px auto;display: block; text-align: center;">Download file!</a>
</div>