{%extends "base.html" %}
{% block content %}

    <div class="container m-5">
        <div class="row">
            <div class="col-md-12 search"> 
                <form method="get">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control" placeholder="Search.." name="buscar" value = "{{request.GET.buscar }}">
                            <span class="input-group-list">
                                <i class="icon icon-search"></i>
                                <button type="submit" class="btn btn-success">Search</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="display:flex; flex-direction:row;justify-content: space-evenly;">
        <div class="container-center">
            <div class="flex-row-around">
                <h3 class="display-3">Chatrooms!</h3> <a href="create" class="m-3 btn btn-success h-50">Create your chatroom!</a>
            </div>
            <div class="flex-row-evenly">
                {% if rooms %}
                {% for room in rooms %}

                <div class="card m-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{room.name}}</h5>
                        <p class="card-text">{{room.description}}</p>
                        <a href="{% url 'chatRoom:room' room.pk %}" class="btn btn-primary primaryHighligthColor primaryHighligthBorderColor w-100">Enter to chat!</a>

                        <div class="flex-row-evenly">
                            {% for tag in room.tags.all %}
                            <div class="badge badge-pill badge-primary p-1 mt-2">
                                <a href="#" class="text-decoration-none text-white m-1">{{tag.name}} </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {% endfor %}

                {% else %}
                <h3 class="display-3">No hay salas</h3>
                {% endif %}

            </div>
        </div>
            <div class="card" style="width: 19rem;">
                <div class="card-body">
                    <h3 class="card-title">My Chatrooms!</h3>
                    {% if rooms.users.name == user.name %}
                    {% for room in rooms %}
                            <a href="{% url 'chatRoom:room' room.pk %}" class="btn btn-light btn-sm w-100 primaryHighligthBorderColor">{{room.name}}</a>
                    {% endfor %}
                    {% else %}
                        <h3 class="badge badge-pill badge-primary p-1 mt-2">No hay salas</h3>
                    {% endif %}
                </div>
            </div>
    </div>



{% endblock %}