{%extends "base.html" %}
{% load static %}
{% block content %}
{{ request.user.id|json_script:"user_id" }}
{{ request.user.user.username|json_script:"user_name" }}
{{ chat.pk|json_script:"room_id" }}
<link rel="stylesheet" href="{% static 'chatRoom/styles.css' %}">
<a href="{%url 'chatRoom:roomsList' %}" class="btn btn-danger btn-lg btn-block w-25 m-2"> Leave </a>

<div class="container-center message-box">
    <div class="flex-row-around">
        <div class="chat-box">
            <div id="chat-log" class="w-100 h-50 pb-2 pt-2 overflow-auto" style="max-height: 50%"></div>
            <form action="POST">
                {% csrf_token %}
                <div class="send-messagge-box w-100 container-center-no-m">
                    <div class="w-100 flex-row-around">
                        <input id="chat-message-input" type="text">
                        <input id="chat-message-submit" type="submit" value=">>">
                    </div>
                    <div class="attachments mt-2 mb-2 w-100">
                        <input type="file" name="image" accept="image/*" id="image">
                        <input type="file" name="file" id="file">
                    </div>
                </div>
            </form>
        </div>
        <div class="users-box">
            <h5>Users</h5>
            <ul>
                {% for user in chat.users.all%}
                <li>
                    <a href="{%url 'catalog:profile' user.pk %}">{{user}}</a>
                </li>
                {%endfor%}
            </ul>
        </div>
    </div>
    <script src="{% static 'chatRoom/chatHandler.js' %}"></script>
</div>
{% endblock %}